<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/back-end/src/style/style.css">
    <script src="/back-end/src/end-point.js"></script>
    <title>Lista de Logs</title>
</head>

<body>
    <h1>Listagem</h1>
    <div class="container">
        <button></button>
    </div>
    <div id="categoria"></div>
</body>
<script>
    const url = "http://localhost:3000/logs?pagina=1&quantidade=10";
    fetch(url, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
    })
        .then((res) => {
            if (!res.ok)
                console.log("teste ", res)
            return res.json();
        }).then((data) => {
            if (data)
                console.log("teste: ", data)

            let categoriasHTML = "";
            if (data && Array.isArray(data)) {
                for (let index = 0; index < data.length; index++) {
                    const element = data[index];
                    console.log(element.categoria);
                    categoriasHTML += `<div style="border-radius: 4px; border: 1px #cacaca solid; padding:20px">
                Categoria: ${element.categoria} <br>
                <div style="display> flex; justify-content: column"> 
                    Horas trabalhadas <br> ${element.horas_trabalhadas}
                    Linhas de codigo <br> ${element.linhas_codigos}
                    Bugs corrigidos <br> ${element.bugs_corrigidos}
                    </div>
                    </div>`;
                }

            }
            document.getElementById("categoria").innerHTML = categoriasHTML;
        })
        .catch((error) => console.log("ERROR: ", error))
</script>

</html>